<h3>Listing students</h3>

<%= link_to 'New Student', new_student_path %>
<p></p>

<table id="studentsDT">
<thead>
  <tr>
    <th align=left>Rank ID</th>
    <th align=left>Rank</th>
    <th align=left>First<br />name</th>
    <th align=left>Last<br />name</th>
    <th align=left>Last<br />class</th>
    <th align=left>Last<br />promotion</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<tbody>
<% @students.each do |student| %>
  <tr>
    <% last_promotion = Promotion.where(:student_id => student.id).order(:testdate).last %>
    <% if last_promotion.nil? %>
      <% rank_name = 'Member' %>
      <% rank_seq = 0 %>
      <% promotion_date = student.join_date.strftime( "%m/%d/%Y" ) %>
    <% else %>
      <% rank = Rank.find(last_promotion.rank_id) %>
      <% rank_name = rank.name %>
      <% rank_seq = rank.seq %>
      <% promotion_date = last_promotion.testdate.strftime( "%m/%d/%Y" ) %>
    <% end %>
    <td><%= rank_seq %></td>
    <td align=left><%= rank_name %></td>
    <td><%= link_to student.firstname, student %></td>
    <td><%= link_to student.lastname, student %></td>
    <% last_class = Attendance.find(:last, :order => :class_date, :conditions => ['student_id = ?', student.id]) %>
    <% if last_class.nil? %>
      <% last_class_date = student.join_date.strftime( "%m/%d/%Y" ) %>
    <% else %>
      <% last_class_date = last_class.class_date.strftime( "%m/%d/%Y" ) %>
    <% end %>
    <td><%= last_class_date %></td>
    <td><%= promotion_date %> </td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Delete', student, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<p>
<br />

<%= link_to 'New Student', new_student_path %>
