<h3>Rank eligibility report</h3>

<table id="studentsDT">
<thead>
  <tr>
    <th>Rank<br />ID</th>
    <th>Current<br />rank</th>
    <th>First<br />name</th>
    <th>Last<br />name</th>
    <th>Class hours<br />towards next rank</th>
    <th>Calendar months<br />towards next rank</th>
  </tr>
  </thead>

<tbody>
<% @students.each do |student| %>
  <tr>
    <% last_promotion = Promotion.where(:student_id => student.id).order(:testdate).last %>
    <% if last_promotion.nil? %>
      <% rank = Rank.find_by_seq(0) %>
      <% base_date = student.join_date %>
    <% else %>
      <% rank = Rank.find(last_promotion.rank_id) %>
      <% base_date = last_promotion.testdate %>
    <% end %>

    <% rank_name = rank.name %>
    <% rank_seq = rank.seq %>

    <% next_rank_seq = rank_seq + 1 %>
    <% next_rank = Rank.find_by_seq(rank_seq + 1) %>

    <% hours = Attendance.sum(:class_hours, :conditions => ['student_id = ? AND class_date >= ?', student.id, base_date]) - next_rank.class_hours_required %>

    <% months = ((Date.today - base_date).to_int / 30) - next_rank.cal_months_required %>

    <td><%= rank_seq %></td>
    <td align="center"><%= rank_name %></td>
    <td align="center"><%= link_to student.firstname, student %></td>
    <td align="center"><%= link_to student.lastname, student %></td>
    <% last_test = Promotion.where('student_id = ?', student.id).order(:testdate).last %>
    <td align="center"><%= hours %></td>
    <td align="center"><%= months %></td>
  </tr>
<% end %>
</tbody>
</table>
