<h3>Rank eligibility report</h3>

<table id="report1DT">
<thead>
  <tr>
    <th>Rank<br />ID</th>
    <th>Current<br />rank</th>
    <th>First<br />name</th>
    <th>Last<br />name</th>
    <th>Class hours<br />accrued</th>
    <th>Calendar months<br />accrued</th>
  </tr>
  </thead>

<tbody>
<% @students.each do |student| %>
  <% last_promotion = Promotion.where(:student_id => student.id).order(:testdate).last %>
  <% if last_promotion.nil? %>
    <% rank_seq_no = 0 %>
    <% if student.is_adult? %>
      <% rank_seq_no = 4 %>
    <% end %>
    <% rank = Rank.find_by_seq(rank_seq_no) %>
    <% rank_name = 'Member' %>
    <% base_date = student.join_date %>
  <% else %>
    <% rank = Rank.find(last_promotion.rank_id) %>
    <% rank_name = rank.name %>
    <% base_date = last_promotion.testdate %>
  <% end %>

  <% rank_seq = rank.seq %>
  <% next_rank = Rank.find_by_seq(rank_seq + 1) %>

  <% hours = Attendance.sum(:class_hours, :conditions => ['student_id = ? AND class_date >= ?', student.id, base_date]) %>

  <% months = ((Date.today - base_date).to_int / 30) %>

  <% if (hours < next_rank.class_hours_required) or (months < next_rank.cal_months_required) %>
    <tr>
    <td><%= rank_seq %></td>
    <td align="center"><%= rank_name %></td>
    <td align="center"><%= link_to student.firstname, student %></td>
    <td align="center"><%= link_to student.lastname, student %></td>
    <td align="center"><%= hours %></td>
    <td align="center"><%= months %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>

<br/>
<p>
<%= link_to 'Eligible students report', students_report_path %>
</p>