<h3>Rank eligibility report</h3>

<table id="studentsDT">
<thead>
  <tr>
    <th>Current<br />rank</th>
    <th>First<br />name</th>
    <th>Last<br />name</th>
    <th>Class hours<br />since last test</th>
    <th>Calendar months<br />since last test</th>
  </tr>
  </thead>

<tbody>
<% @students.each do |student| %>
  <tr>
    <% latest_rank_id = Ranktest.where(:student_id => student.id).order(:testdate).last %>
    <td align="center"><%= Rank.find(latest_rank_id.rank_id).name %></td>
    <td align="center"><%= link_to student.firstname, student %></td>
    <td align="center"><%= link_to student.lastname, student %></td>
    <td align="center"><%= 'filler1' %></td>
    <td align="center"><%= 'filler2' %></td>
  </tr>
<% end %>
</tbody>
</table>
