<h3>Rank eligibility report</h3>

<table id="studentsDT">
<thead>
  <tr>
    <th>Current<br />rank</th>
    <th>First<br />name</th>
    <th>Last<br />name</th>
    <th>Class hours<br />since last test</th>
    <th>Calendar months<br />since last test</th>
  </tr>
  </thead>

<tbody>
<% @students.each do |student| %>
  <tr>
    <% last_ranktest = Ranktest.where(:student_id => student.id).order(:testdate).last %>
    <% if last_ranktest.nil? %>
      <% rank_name = 'Member' %>
      <% hours = '-' %>
      <% months = '-' %>
    <% else %>
      <% rank_name = Rank.find(last_ranktest.rank_id).name %>
      <% hours = Attendance.sum(:class_hours, :conditions => ['student_id = ? AND class_date >= ?', student.id, last_ranktest.testdate]) %>
      <% month_delta = (Date.today - last_ranktest.testdate) / 30 %>
      <% months = month_delta.to_int %>
    <% end %>
    <td align="center"><%= rank_name %></td>
    <td align="center"><%= link_to student.firstname, student %></td>
    <td align="center"><%= link_to student.lastname, student %></td>
    <% last_test = Ranktest.where('student_id = ?', student.id).order(:testdate).last %>
    <td align="center"><%= hours %></td>
    <td align="center"><%= months %></td>
  </tr>
<% end %>
</tbody>
</table>
