<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @student.firstname %>
</p>

<p>
  <b>Middlename:</b>
  <%= @student.middlename %>
</p>

<p>
  <b>Lastname:</b>
  <%= @student.lastname %>
</p>

<p>
  <b>Address1:</b>
  <%= @student.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @student.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @student.address3 %>
</p>

<p>
  <b>City:</b>
  <%= @student.city %>
</p>

<p>
  <b>State:</b>
  <%= @student.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @student.zip %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @student.birthdate %>
</p>

<p>
  <b>Additional notes:</b>
  <%= @student.additional_notes %>
</p>

<p>
  <b>Sticky listing:</b>
  <%= @student.sticky_listing %>
</p>

<p>
  <b>Do not disturb:</b>
  <%= @student.do_not_disturb %>
</p>

<p>
  <b>Rank:</b>
  <%= @student.rank_id %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
