<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= best_in_place @student, :firstname %>
</p>

<p>
  <b>Middlename:</b>
  <%= best_in_place @student, :middlename %>
</p>

<p>
  <b>Lastname:</b>
  <%= best_in_place @student, :lastname %>
</p>

<p>
  <b>Address1:</b>
  <%= best_in_place @student, :address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= best_in_place @student, :address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= best_in_place @student, :address3 %>
</p>

<p>
  <b>City:</b>
  <%= best_in_place @student, :city %>
</p>

<p>
  <b>State:</b>
  <%= best_in_place @student, :state %>
</p>

<p>
  <b>Zip:</b>
  <%= best_in_place @student, :zip %>
</p>

<p>
  <b>Email:</b>
  <%= best_in_place @student, :email %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @student.birthdate.strftime( "%m/%d/%Y" ) %>
</p>

<p>
  <b>Rank history:</b>
  <table>
	<tr><th>Rank</th><th>Date</th></tr>
	<tr>
	  <td><%= Rank.find(@student.rank_id).name %></td>
	  <td><%= @student.created_at.strftime("%m/%d/%Y") %></td>
	</tr>
    <% Ranktest.find_all_by_student_id(@student.id, :order => 'testdate ASC').each do |student_test| %>
	<tr>
	  <td><%= Rank.find(student_test.rank_id).name %></td>
	  <td><%= student_test.testdate.strftime("%m/%d/%Y") %></td>
	</tr>
	<% end %>
  </table>
</p>

<p>
  <b>Sticky listing:</b>
  <%= check_box_tag 'sticky', 'yes', @student.sticky_listing, :disabled => true %>
</p>

<p>
  <b>Do not disturb:</b>
  <%= check_box_tag 'sticky', 'yes', @student.do_not_disturb, :disabled => true %>
</p>

<p>
  <b>Additional notes:</b>
  <%= @student.additional_notes %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
<p></p>
<%= link_to "Home", root_path %>
<p></p>

<hr>
<h2>Notes</h2>

<table>
  <tr>
    <th>Timestamp</th>
    <th>Student</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% student_notes = Note.where(:student_id => @student.id).order(:created_at) %>

<% student_notes.each do |note| %>
  <tr>
    <td><%= note.created_at %></td>
    <td><%= note.student_id %></td>
    <td><%= link_to 'Show', note %></td>
    <td><%= link_to 'Edit', edit_note_path(note) %></td>
    <td><%= link_to 'Delete', note, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if student_notes.size == 0 %>
  <em>No notes at this time.</em>
<% end %>

<%= link_to "New note", new_note_path( :student_id => @student.id ) %>

<hr>
<h2>Year-end reviews</h2>

<%= link_to "Year-end reviews", year_end_reviews_path %>
