<p id="notice"><%= notice %></p>

<p>
  <b>List sequence:</b>
  <%= @rank.seq %>
</p>

<p>
  <b>Name:</b>
  <%= @rank.name %>
</p>

<p>
  <b>Class hours required:</b>
  <%= @rank.class_hours_required %>
</p>

<p>
  <b>Calendar months required:</b>
  <%= @rank.cal_months_required %>
</p>


<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
