<%= form_for(@promotion) do |f| %>
  <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
      <% @promotion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :test_date %>
    <%= f.date_select :testdate, :start_year => Time.now.year - 10, :end_year => Time.now.year, :order =>[:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :student %>
    <%= collection_select( :promotion, :student_id, Student.all(:order => 'lastname ASC'), :id, :fullname, {:prompt => true} ) %>
  </div>
  <div class="field">
    <%= f.label :promoted_to %>
    <%= collection_select( :promotion, :rank_id, Rank.all(:order => 'seq ASC'), :id, :name, {:prompt => true} ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
