<p id="notice"><%= notice %></p>

<p>
  <b>Test date:</b>
  <%= @promotion.testdate.strftime( "%m/%d/%Y" ) %>
</p>

<p>
  <b>Student:</b>
  <%= Student.find(@promotion.student_id).fullname %>
</p>

<p>
  <b>Rank:</b>
  <%= Rank.find(@promotion.rank_id).name %>
</p>


<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
<p></p>
<%= link_to "Home", root_path %>
