<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @test.date.strftime( "%m/%d/%Y" ) %>
</p>

<p>
  <b>Student:</b>
  <%= Student.find(@test.student_id).fullname %>
</p>

<p>
  <b>Rank:</b>
  <%= Rank.find(@test.rank_id).name %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
<p></p>
<%= link_to "Home", root_path %>
