<p id="notice"><%= notice %></p>

<p>
  <b>Class date:</b>
  <%= @attendance.class_date %>
</p>

<p>
  <b>Student:</b>
  <%= @attendance.student_id %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
